body {
  background-color: lightblue;
}
header h1
{
    font-size: 4em;
    font-weight: normal;
    margin:0;
}
header h2{
    font-size: 1.5em;
    font-weight:bold;
    margin: 0 0 2.5em 10em;
    color: #e74b25;
}

/* CSS Document */
header, section, aside, nav, footer, figure, figcaption
{
    display:block;
}
/* navigation */
nav
 {
    background-color:#f2662a;
    height:35px;
}
nav li
{
    float:left;
    width:140px;
    height:35px;
    background-color:black;
    text-align: center;
    border-left: 1px white solid;
    border-right: 1px white solid;
    line-height:35px;
    list-style:none;
}
nav li a
{
    color:white;
    text-decoration:none;
    display:block;
}
nav li a:hover
{
    background-color:#f0462b;
    color:#ebebea;
}
/* section */
section
 {
    width: 600px;
    float: left;
}
section  p, h1, h2
 {  
    margin-left:20px;
    margin-right:20px;
}
section  h2
 {
    margin-top:15px;
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    height: 5%;
    color: #8b3436;
	background-color: #000000;
	text-align: center;
}
p {
	margin-left: 20px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}